@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-feature-settings: 'palt';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply text-slate-900 bg-white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-feature-settings: 'palt';
    letter-spacing: 0.02em;
  }

  p {
    font-feature-settings: 'palt';
  }
}
